.card-container {
    display: flex;
    align-items: center;
    padding: 0.5rem var(--mini-padding);
    border-radius: var(--radius);
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--light-blue);
    font-size: 1.6rem;
    gap: 1rem;
    transition: background-color 0.2s;
}

.card-container:hover {
    background-color: var(--stepper-color);
    cursor: pointer;
}

.card-icon {
    height: 4rem;
    width: 4rem;
}

.card-name {
    width: 10rem;
}