.cash-in-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.cash-in-logo {
    font-weight: 700;
    font-family: "Kanit", sans-serif;
    font-style: bold;
    color: var(--main-gray)
}

.cash-in-background {
    background-color: var(--blue-transparent);
    border-radius: var(--radius);
}