.inputcode-single-character {
    height: 5rem;
    width: 5rem;
}

.inputcode-single-character {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inputcode-single-character::-webkit-outer-spin-button,
.inputcode-single-character::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputcode-single-character[type=number] {
  -moz-appearance: textfield;
}