.transference-block {
    width: 100rem;
    text-align: center;
    padding: var(--small-padding);
    border-radius: var(--radius);
}


.transference-options {
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    display: flex;
}